snakemake_wisecondor/data/**/*test*
snakemake_wisecondor/data/**/*.npz
snakemake_wisecondor/snakemake_workflow/.snakemake/
snakemake_wisecondor/snakemake_workflow/.DS_Store
snakemake_wisecondor/data/rasta
